{{#if updateQuestionForm}}
<h3>Update this question:</h3>
  <form>
    <div class="form-group">
      <label for="update-author">Update Name: </label>
      {{input value=update-author id="update-author"}}
    </div>

    <div class="form-group">
      <label for="update-content">Update Question</label>
      {{textarea value=update-content id="update-content"}}
    </div>

    <div class="form-group">
      <label for="update-notes">Update your notes</label>
      {{textarea value=update-notes id="update-notes"}}
    </div>

    <button {{action 'updateQuestion' question}}>Update</button>
  </form>

{{else}}
  <button {{action 'updateQuestionFormShow'}}>Update this Question</button>
{{/if}}
