<div id="question-display">
  {{question-detail question=model}} {{question-update question=model updateQuestion="updateQuestion" }} <button {{action "deleteQuestion" model}}>Delete this Question</button>
</div>

{{answer-list question=model upvote="upvote" downvote="downvote" deleteAnswer="deleteAnswer"}}

{{answer-add question=model addAnswer="addAnswer"}}
